# Operating System Files
.DS_Store          # macOS
Thumbs.db          # Windows
Desktop.ini        # Windows

# Editor & IDE Folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary & Backup Files
*.tmp
*.bak
*.swp